body { padding-top: 70px; 
}
.color_nav{
    background-color: #2c3e50;
}

.jumbotron{
    width: 100%;
    background-color: #1abc9c;
}
.sec-white{
    width: 100%;
   
}
.about{
    width: 100%;
    background-color: #1abc9c;
}
.locat{
    width: 100%;
    background-color: #3a546d;
}
.cont_nav{
    width: 95%;
    /* height: 100%;   */
}
.mr{
    margin-right: 20px;
}
.box_profile{
    width: 60%;
    /* height: 300px; */
    /* background-color: brown; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_color{
    color: white;
}
.box-inner-profile{
    width: 50%;
    /* height: 100%; */
    margin: auto;
    /* background-color: blueviolet; */
}
.avatar{
    /* width: 250px;
    height: 250px; */
}
.box_start{
    width: 70%;
    /* height: 60px; */
    /* background-color: blueviolet; */
    margin: auto;
}
.box_star{
    width: 40%;
    /* height: 60px; */
    /* background-color: blue; */
    margin: auto;
}
.inner-box-star{
    width: 50%;
    /* height: 100%;
    background-color: brown; */
    margin: auto;
}
h3 {
    display: flex;
    flex-direction: row;
}
  
h3:before,
h3:after {
    content: "";
    flex: 1 1;
    border-bottom: 5px solid white;
    margin: auto;
}
.icon-star{
    color: white;
    font-size: 30px;
}

.box_profession{
    width: 100%;
    /* height: 60px;
    background-color: chartreuse; */
    margin: auto;
}
.box_portfolio{
    width: 40%;
    /* height: 60px;
    background-color: chartreuse; */
    margin: auto;
}
.color-port{
    color: #2c3e50;
}

  
.star2:before,
.star2:after {
    content: "";
    flex: 1 1;
    border-bottom: 5px solid #2c3e50;
    margin: auto;
}

.box1{
    background-color: #ba4b63;
    width: 100%;
    /* height: 350px; */
    border-radius: 20px;
    
}

.box_about{
    width: 30%;
    /* height:60px; */
    /* background-color: blue; */
    margin: auto;
}
.box3{
    width: 40%;
    /* height:60px;
    background-color: blue; */
    margin: auto;
}
.box_download{
    width: 50%;
    /* height:60px;
    background-color: blue; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 40px;
}
.border-download{
    width: 250px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px 20px;
}
.font-d{
    font-size: 25px;
}
.icon-download{
    font-size: 20px;
    margin-right: 5px;
}
.font-span{
    font-size: 22px;
}

.box_text{
    width: 100%;
     /* height:400px;  */
    /* background-color: blue; */
    margin: auto;
    position: relative;
}
.box-t{
    width: 80%;
     /* height: 100%; */
    position: absolute;
    right: 0;
    /* background-color: brown; */
    
}
.box-t2{
    width: 80%;
    /* height: 100%; */
    margin-right: 0;
    /* background-color: brown; */
    
}
.box_form{
    width: 70%;
    /* height:500px; */
    /* background-color: brown; */
    margin: auto;
}
.text-form{
    font-size: 25px;
}
.text-form2{
    font-size: 25px;
    margin-bottom: 150px;
}
.box_name{
    width: 100%;
    /* height: 50%; */
    /* background-color: brown; */
}
.box_message{
    width: 100%;
    /* height: 50%; */
    /* background-color: blueviolet; */
}

.message{
    margin-top: 40px;
}
.form{
    /* height: 90%; */
    width: 100%; 
    /* background-color: blue; */
    margin-top: 10px;
}
.button-send{
    margin-top: 10px;
     /* height: 60px;  */
    width: 100%;
    /* background-color: chartreuse; */
    
}

.send{
    padding: 10px;
    font-size: 25px;
    background-color: #1abc9c;
    border-radius: 5px;
}

.box_location{
    width: 100%;
    /* height:100px; */
    /* background-color: brown; */
    margin: auto;
}

.text-loc{
    font-size: 22px;
}
.icons{
    color: white;
    font-size: 25px;
    display: inline-block;
  border-radius: 30px;
  box-shadow:0 0 4px white;
  padding: 0.5em 0.6em;
  object-fit: contain;
}
.pad-g{
  padding: 0.5em 0.4em;

}
.box_social{
    width: 100%;
    /* height:100px; */
    /* background-color: aqua; */
    margin: auto;
}
.box_icons{
    width: 80%;
    /* height: 50%; */
    /* background-color: brown; */
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.font{
    font-size: 22px;
}
.box_freelance{
    width: 100%;
    /* height:100px; */
    /* background-color: blueviolet; */
    margin: auto;
}
.color-start{
    color:#1cb699;
}
.box_copy{
    width: 60%;
    /* height: 50px; */
    /* background-color: aqua; */
    margin: auto;
}
.box_img{
    width: 100%;
    /* height: 300px;
    background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    width: 250px; 
    /* height: 300px; */
    object-fit: cover;
    border-radius: 100%;
}
.color1{
    background-color: #ba4b63;
}
.color2{
    background-color: #1ea4b6;
}
.color3{
    background-color: #140f0f;
}
.color4{
    background-color: #1c83c1;
}
.color5{
    background-color: #0e38b5;
}
.color6{
    background-color: #ccb2a3;
}
footer{
    background-color: #2c3e50;
}

@media screen and (min-width: 992px) {

    .cont_nav{
    width: 70%;
    height: 100%;  
    }
    .inner-box-star{
        width: 100%;
    }
    .font-start{
        font-size: 60px;
    }
    .font-prof{
        font-size: 25px;
    }
    .box_icons{
        width: 90%;
    }
}

@media screen and (min-width: 380px)  {

    .inner-box-star{
        width: 80%;

    }
}
@media screen and (min-width: 576px) and (max-width:767px)  {

    .images{
        width: 250px;
        height: 250px;
    }

}
@media screen and (max-width: 576px)   {
    .box_text{
        width: 100%;
         /* height:400px;  */
        background-color: blue;
        margin: auto;
        position: static;
    }
    .box-t{
        width: 70%;
         /* height: 100%; */
        position: static;
        margin: auto;
        background-color: brown;
        
    }
    .box-t2{
        width: 70%;
        /* height: 100%; */
        margin: auto;
        background-color: brown;
        
    }
    .font-span{
        font-size: 25px;
    }
    .font-d{
        font-size: 25px;
        padding-top:10px
    }
    .border-download{
        width: 250px;

    }
    .box_download{
        width: 90%;
       
    }
    .box3{
        width: 50%;
    }
    
}